<section>
  <canvas id="income-chart" class="form-container"></canvas>
  <canvas id="expense-chart" class="form-container"></canvas>
</section>
<section>
  <canvas id="budget-trend" class="form-container"></canvas>
</section>
<section>
<p>Insight
(1) Your total monthly income of the month is USD {{budget.total_expense}}
(2) Your total monthly expense of the month is USD {{budget.total_income}}
(3) The gap you can close in your budget is {{budget.saving}}. You can plan how to utilize the money to generate more income.
</p>
</section>

<script src="/js/budgetAnalysis.js"></script>