
<div class="d-flex flex-row col-12 m-6">
  {{!-- card1 --}}

      <div class="d-flex flex-column col-8">
    {{!-- chart1 --}}
        <div class="card border-0 m-6"> 
          <div class="card-body m-6">
            <canvas
              id="income-chart"
              style="width: 60%; max-width: 300px"
            ></canvas>
          </div>
        </div>
   {{!-- chart2 --}}
        <div class="card border-0 m-6">
          <div class="card-body">
            <canvas
              id="expense-chart"
              style="width: 100%; max-width: 600px"
            ></canvas>
           </div>
          </div>
        </div>
    {{!-- card2 --}}
  
      <div class="d-flex flex-column col-4">
        {{!-- chart3 --}}
        <div class="card border-0">
          <div class = "card-body h-75 m-6">
          <canvas id="budget-trend" style="width: 100%; max-width: 600px" class = "h-100"></canvas>
          </div>
        </div>

        <div class="card bg-warning-subtle border-0 m-4 pb-5">
           <div class="card-body h-25">  
             <div class="card-title fs-3">Insights</div>         
              <p>(1) Your total monthly income of the month is USD {{renderTotalExpense}} </p>
              <p>(2) Your total monthly expense of the month is USD {{renderTotalRevenue}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>


