<section class="form-container">
      <p>Reflect on your income and expenditures from the previous month prior to reviewing the chart.   <br />
        Identify any discrepancies, particularly those that may have slipped your memory, as these warrant your focus. <br />
        Pose the question to yourself: How can I approach these situations differently?</p>
         <br />
      <button type="submit">Click here when you have a good reflection in mind</button>
    </div>
  </form>
    <br />
  <p>Dont feel like doing it right now?</p>
  <p>
    Return to the home page
    <a href="/dashboard" style="color: blue">here.</a></p>
</section>

<script src="/js/createNewBudget.js"></script>